body, html {
  margin: 0px;
  padding: 0px; }

.container {
  display: flex;
  padding: 50px;
  justify-content: space-between; }

* {
  font-family: 'Mirza', cursive; }

.label {
  font-size: 48px; }

.button:hover {
  cursor: pointer;
  opacity: .6; }

.menu-list {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 40%; }

.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.shield {
  width: 40%; }

.color {
  width: 398px;
  height: 398px;
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  z-index: -2; }

.red {
  background-color: red; }

.blue {
  background-color: blue; }

.white {
  background-color: #d6d6d6; }

.yellow {
  background-color: yellow; }

.black {
  background-color: black; }

.green {
  background-color: green; }

.purple {
  background-color: purple; }

.mulberry {
  background-color: #cc0099; }

.ash {
  background-color: #737373; }

.brown {
  background-color: #663300; }

.sky {
  background-color: #66ccff; }

.amaranth {
  background-color: #ff0066; }

.ermine {
  background-image: url("../img/ermine.png");
  background-repeat: repeat; }

.vair {
  background-image: url("../img/vair.png");
  background-repeat: repeat; }

.shape {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px; }

.lozenge {
  background-image: url("../img/lozenge.png"); }

.cartouche {
  background-image: url("../img/cartouche.png"); }

.heater {
  background-image: url("../img/heater.png"); }

.iberian {
  background-image: url("../img/iberian.png"); }

.swiss {
  background-image: url("../img/swiss.png"); }

.fess {
  width: 398px;
  height: 50px;
  position: absolute;
  margin-top: 170px;
  margin-left: 1px;
  z-index: -1; }

.pale {
  height: 398px;
  width: 50px;
  position: absolute;
  margin-left: 175px;
  margin-top: 1px;
  z-index: -1; }

.bend {
  height: 398px;
  width: 398px;
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 16% 0, 100% 100%, 84% 100%);
  clip-path: polygon(0 0, 16% 0, 100% 100%, 84% 100%); }

.bend-sin {
  height: 398px;
  width: 398px;
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(84% 0, 100% 0%, 16% 100%, 0% 100%);
  clip-path: polygon(84% 0, 100% 0%, 16% 100%, 0% 100%); }

.chevron {
  height: 300px;
  width: 398px;
  margin-left: 1px;
  margin-top: 150px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(50% 0%, 100% 45%, 100% 65%, 50% 20%, 0 65%, 0 45%);
  clip-path: polygon(50% 0%, 100% 45%, 100% 65%, 50% 20%, 0 65%, 0 45%); }

.cross {
  height: 398px;
  width: 398px;
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(0 45%, 45% 45%, 45% 0, 55% 0, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0 55%);
  clip-path: polygon(0 45%, 45% 45%, 45% 0, 55% 0, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0 55%); }

.saltire {
  height: 398px;
  width: 398px;
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(7% 0, 0 7%, 43% 50%, 0 93%, 7% 100%, 50% 57%, 93% 100%, 100% 93%, 57% 50%, 100% 7%, 93% 0, 50% 43%);
  clip-path: polygon(7% 0, 0 7%, 43% 50%, 0 93%, 7% 100%, 50% 57%, 93% 100%, 100% 93%, 57% 50%, 100% 7%, 93% 0, 50% 43%); }

.pall {
  height: 398px;
  width: 358px;
  margin-left: 21px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(50% 40%, 92% 0, 100% 8%, 57% 50%, 57% 100%, 43% 100%, 43% 50%, 0 8%, 8% 0);
  clip-path: polygon(50% 40%, 92% 0, 100% 8%, 57% 50%, 57% 100%, 43% 100%, 43% 50%, 0 8%, 8% 0); }

.pall-rev {
  height: 398px;
  width: 398px;
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(43% 0, 57% 0, 57% 46%, 100% 90%, 92% 100%, 50% 58%, 8% 100%, 0 90%, 43% 46%);
  clip-path: polygon(43% 0, 57% 0, 57% 46%, 100% 90%, 92% 100%, 50% 58%, 8% 100%, 0 90%, 43% 46%); }

/*# sourceMappingURL=application.css.map */
