////////////////////////////////////////////////////
// COLOR                                          //
////////////////////////////////////////////////////


.field {
  width: 398px;
  height: 398px;
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  z-index: -2;
}


.red {
  background-color: #cf1717;
}

.blue {
  background-color: #00549A;
}

.white {
  background-color: white;
}

.yellow {
  background-color: #FFC212;
}

.black {
  background-color: black;
}

.green {
  background-color: #00884A;
}

.purple {
  background-color: #642667;
}

.mulberry {
  background-color: #991B41;
}

.ash {
  background-color: #b6ada5;
}

.brown {
  background-color: #AA8155;
}

.sky {
  background-color: #0193DD;
}

.amaranth {
  background-color: #bb16a3;
}

.ermine {
  background-image: url('../img/ermine.png');
  background-repeat: repeat;
}

.vair {
  background-image: url('../img/vair.png');
  background-repeat: repeat;
}
