.none {
  
}

.fess {
  width: 398px;
  height: 50px;
  position: absolute;
  margin-top: 170px;
  margin-left: 1px;
  z-index: -1;
}

.pale {
  height: 398px;
  width: 50px;
  position: absolute;
  margin-left: 175px;
  margin-top: 1px;
  z-index: -1;
}

.bend {

}

.bend-sin {

}

.chevron {

}

.cross {

}

.saltire {

}

.pall {

}

.pall-rev {

}
