.shape {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

.lozenge {
  background-image: url('../img/lozenge.png');
}

.cartouche {
  background-image: url('../img/cartouche.png');
}

.heater {
  background-image: url('../img/heater.png');
}

.iberian {
  background-image: url('../img/iberian.png');
}

.swiss{
  background-image: url('../img/swiss.png');
}
