////////////////////////////////////////////////////
// SHAPE                                          //
////////////////////////////////////////////////////

.shape {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

.lozenge {
  background-image: url('../img/lozengeborder.png');
}

.cartouche {
  background-image: url('../img/cartoucheborder.png');
}

.heater {
  background-image: url('../img/heaterborder.png');
}

.iberian {
  background-image: url('../img/iberianborder.png');
}

.swiss{
  background-image: url('../img/swissborder.png');
}
